article, aside, details, figcaption, figure, footer, 
header, hgroup, main, nav, section, summary {
	display: block;
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active, a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

h2 {
	font-size: 1.5em;
	margin: .83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

b, strong {
	font-weight: 700;
}

blockquote {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

p, pre {
	margin: 1em 0;
}

code, kbd, pre, samp {
	font-family: monospace,serif;
	_font-family: 'courier new',monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

dl, menu, ol, ul {
	margin: 1em 0;
}

dd {
	margin: 0 0 0 40px;
}

menu, ol, ul {
	padding: 0 0 0 40px;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

form {
	margin: 0;
}

button, 
input, 
select, 
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, 
input {
	line-height: normal;
}

button, 
select {
	text-transform: none;
}

button, html input[type=button], 
input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

button[disabled], 
html input[disabled] {
	cursor: default;
}

input[type=checkbox], 
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, 
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cs-button {
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cs-button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.cs-button {
	font-size: 100%;
	padding: .5em 1.5em;
	color: #444;
	border: none;
	background-color: #e6e6e6;
	text-decoration: none;
	border-radius: 2px;
}

.cs-button-hover,
.cs-button:hover,
.cs-button:focus {
	background: #ededed;
	color: #222;
}

.cs-button:focus {
	outline: 0;
}

.cs-button-active,
.cs-button:active {
	background: #e1e1e1;
	color: #555;
}

.cs-button[disabled],
.cs-button-disabled,
.cs-button-disabled:hover,
.cs-button-disabled:focus,
.cs-button-disabled:active {
	border: 0;
	background-image: none;
	-khtml-opacity: .4;
	-moz-opacity: .4;
	opacity: .4;
	cursor: not-allowed;
	box-shadow: none;
}

.cs-button-hidden {
	display: none;
}

.cs-button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.cs-button-primary,
.cs-button-selected,
a.cs-button-primary,
a.cs-button-selected {
	background-color: #0078e7;
	color: #fff;
}

.cs-form input[type=text],
.cs-form input[type=password],
.cs-form input[type=email],
.cs-form input[type=url],
.cs-form input[type=date],
.cs-form input[type=month],
.cs-form input[type=time],
.cs-form input[type=datetime],
.cs-form input[type=datetime-local],
.cs-form input[type=week],
.cs-form input[type=number],
.cs-form input[type=search],
.cs-form input[type=tel],
.cs-form input[type=color],
.cs-form select,
.cs-form textarea {
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: .8em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cs-form input[type=text]:focus,
.cs-form input[type=password]:focus,
.cs-form input[type=email]:focus,
.cs-form input[type=url]:focus,
.cs-form input[type=date]:focus,
.cs-form input[type=month]:focus,
.cs-form input[type=time]:focus,
.cs-form input[type=datetime]:focus,
.cs-form input[type=datetime-local]:focus,
.cs-form input[type=week]:focus,
.cs-form input[type=number]:focus,
.cs-form input[type=search]:focus,
.cs-form input[type=tel]:focus,
.cs-form input[type=color]:focus,
.cs-form select:focus,
.cs-form textarea:focus {
	outline: 0;
	outline: thin dotted \9;
	border-color: #129FEA;
}

.cs-form input[type=file]:focus,
.cs-form input[type=radio]:focus,
.cs-form input[type=checkbox]:focus {
	outline: thin dotted #333;
	outline: 1px auto #129FEA;
}

.cs-form .cs-checkbox,
.cs-form .cs-radio {
	margin: .5em 0;
	display: block;
}

.cs-form input[type=text][disabled],
.cs-form input[type=password][disabled],
.cs-form input[type=email][disabled],
.cs-form input[type=url][disabled],
.cs-form input[type=date][disabled],
.cs-form input[type=month][disabled],
.cs-form input[type=time][disabled],
.cs-form input[type=datetime][disabled],
.cs-form input[type=datetime-local][disabled],
.cs-form input[type=week][disabled],
.cs-form input[type=number][disabled],
.cs-form input[type=search][disabled],
.cs-form input[type=tel][disabled],
.cs-form input[type=color][disabled],
.cs-form select[disabled],
.cs-form textarea[disabled] {
	cursor: not-allowed;
	background-color: #eaeded;
	color: #cad2d3;
}

.cs-form input[readonly],
.cs-form select[readonly],
.cs-form textarea[readonly] {
	background: #eee;
	color: #777;
	border-color: #ccc;
}

.cs-form input:focus:invalid,
.cs-form textarea:focus:invalid,
.cs-form select:focus:invalid {
	color: #b94a48;
	border: 1px solid #ee5f5b;
}

.cs-form input:focus:invalid:focus,
.cs-form textarea:focus:invalid:focus,
.cs-form select:focus:invalid:focus {
	border-color: #e9322d;
}

.cs-form input[type=file]:focus:invalid:focus,
.cs-form input[type=radio]:focus:invalid:focus,
.cs-form input[type=checkbox]:focus:invalid:focus {
	outline-color: #e9322d;
}

.cs-form select {
	border: 1px solid #ccc;
	background-color: #fff;
}

.cs-form select[multiple] {
	height: auto;
}

.cs-form label {
	margin: .5em 0 .2em;
	font-size: 90%;
}

.cs-form fieldset {
	margin: 0;
	padding: .35em 0 .75em;
	border: 0;
}

.cs-form legend {
	display: block;
	width: 100%;
	padding: .3em 0;
	margin-bottom: .3em;
	font-size: 125%;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.cs-form-stacked input[type=text],
.cs-form-stacked input[type=password],
.cs-form-stacked input[type=email],
.cs-form-stacked input[type=url],
.cs-form-stacked input[type=date],
.cs-form-stacked input[type=month],
.cs-form-stacked input[type=time],
.cs-form-stacked input[type=datetime],
.cs-form-stacked input[type=datetime-local],
.cs-form-stacked input[type=week],
.cs-form-stacked input[type=number],
.cs-form-stacked input[type=search],
.cs-form-stacked input[type=tel],
.cs-form-stacked input[type=color],
.cs-form-stacked select,
.cs-form-stacked label,
.cs-form-stacked textarea {
	display: block;
	margin: .25em 0;
}

.cs-form-aligned input,
.cs-form-aligned textarea,
.cs-form-aligned select,
.cs-form-aligned .cs-help-inline,
.cs-form-message-inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}

.cs-form-aligned .cs-control-group {
	margin-bottom: .5em;
}

.cs-form-aligned .cs-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}

.cs-form-aligned .cs-controls {
	margin: 1.5em 0 0 10em;
}

.cs-form input.cs-input-rounded,
.cs-form .cs-input-rounded {
	border-radius: 2em;
	padding: .5em 1em;
}

.cs-form .cs-group fieldset {
	margin-bottom: 10px;
}

.cs-form .cs-group input {
	display: block;
	padding: 10px;
	margin: 0;
	border-radius: 0;
	position: relative;
	top: -1px;
}

.cs-form .cs-group input:focus {
	z-index: 2;
}

.cs-form .cs-group input:first-child {
	top: 1px;
	border-radius: 4px 4px 0 0;
}

.cs-form .cs-group input:last-child {
	top: -2px;
	border-radius: 0 0 4px 4px;
}

.cs-form .cs-group button {
	margin: .35em 0;
}

.cs-form .cs-help-inline,
.cs-form-message-inline {
	display: inline-block;
	padding-left: .3em;
	color: #666;
	vertical-align: middle;
	font-size: 90%;
}

.cs-form-message {
	display: block;
	color: #666;
	font-size: 90%;
}

@media only screen and (max-width :480px) {
	.cs-form button[type=submit] {
		margin: .7em 0 0;
	}

	.cs-form input[type=text],
	.cs-form input[type=password],
	.cs-form input[type=email],
	.cs-form input[type=url],
	.cs-form input[type=date],
	.cs-form input[type=month],
	.cs-form input[type=time],
	.cs-form input[type=datetime],
	.cs-form input[type=datetime-local],
	.cs-form input[type=week],
	.cs-form input[type=number],
	.cs-form input[type=search],
	.cs-form input[type=tel],
	.cs-form input[type=color],
	.cs-form label {
		margin-bottom: .3em;
		display: block;
	}

	.cs-group input[type=text],
	.cs-group input[type=password],
	.cs-group input[type=email],
	.cs-group input[type=url],
	.cs-group input[type=date],
	.cs-group input[type=month],
	.cs-group input[type=time],
	.cs-group input[type=datetime],
	.cs-group input[type=datetime-local],
	.cs-group input[type=week],
	.cs-group input[type=number],
	.cs-group input[type=search],
	.cs-group input[type=tel],
	.cs-group input[type=color] {
		margin-bottom: 0;
	}

	.cs-form-aligned .cs-control-group label {
		margin-bottom: .3em;
		text-align: left;
		display: block;
		width: 100%;
	}

	.cs-form-aligned .cs-controls {
		margin: 1.5em 0 0;
	}

	.cs-form .cs-help-inline,
	.cs-form-message-inline,
	.cs-form-message {
		display: block;
		font-size: 80%;
		padding: .2em 0 .8em;
	}
}

.cs-g {
	letter-spacing: -.31em;
	*letter-spacing: normal;
	*word-spacing: -.43em;
	text-rendering: optimizespeed;
	font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
}

.cs-u {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.cs-g [class *="cs-u"] {
	font-family: sans-serif;
}

.cs-u-1,.cs-u-1-2,.cs-u-1-3,.cs-u-2-3,.cs-u-1-4,.cs-u-3-4,.cs-u-1-5,
.cs-u-2-5,.cs-u-3-5,.cs-u-4-5,.cs-u-1-6,.cs-u-5-6,.cs-u-1-8,.cs-u-3-8,
.cs-u-5-8,.cs-u-7-8,.cs-u-1-12,.cs-u-5-12,.cs-u-7-12,.cs-u-11-12,.cs-u-1-24,
.cs-u-5-24,.cs-u-7-24,.cs-u-11-24,.cs-u-13-24,.cs-u-17-24,.cs-u-19-24,.cs-u-23-24 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.cs-u-1 {
	width: 100%;
}

.cs-u-1-2 {
	width: 50%;
	*width: 49.969%;
}

.cs-u-1-3 {
	width: 33.3333%;
	*width: 33.3023%;
}

.cs-u-2-3 {
	width: 66.6667%;
	*width: 66.6357%;
}

.cs-u-1-4 {
	width: 25%;
	*width: 24.969%;
}

.cs-u-3-4 {
	width: 75%;
	*width: 74.969%;
}

.cs-u-1-5 {
	width: 20%;
	*width: 19.969%;
}

.cs-u-2-5 {
	width: 40%;
	*width: 39.969%;
}

.cs-u-3-5 {
	width: 60%;
	*width: 59.969%;
}

.cs-u-4-5 {
	width: 80%;
	*width: 79.969%;
}

.cs-u-1-6 {
	width: 16.6667%;
	*width: 16.6357%;
}

.cs-u-5-6 {
	width: 83.3333%;
	*width: 83.3023%;
}

.cs-u-1-8 {
	width: 12.5%;
	*width: 12.469%;
}

.cs-u-3-8 {
	width: 37.5%;
	*width: 37.469%;
}

.cs-u-5-8 {
	width: 62.5%;
	*width: 62.469%;
}

.cs-u-7-8 {
	width: 87.5%;
	*width: 87.469%;
}

.cs-u-1-12 {
	width: 8.3333%;
	*width: 8.3023%;
}

.cs-u-5-12 {
	width: 41.6667%;
	*width: 41.6357%;
}

.cs-u-7-12 {
	width: 58.3333%;
	*width: 58.3023%;
}

.cs-u-11-12 {
	width: 91.6667%;
	*width: 91.6357%;
}

.cs-u-1-24 {
	width: 4.1667%;
	*width: 4.1357%;
}

.cs-u-5-24 {
	width: 20.8333%;
	*width: 20.8023%;
}

.cs-u-7-24 {
	width: 29.1667%;
	*width: 29.1357%;
}

.cs-u-11-24 {
	width: 45.8333%;
	*width: 45.8023%;
}

.cs-u-13-24 {
	width: 54.1667%;
	*width: 54.1357%;
}

.cs-u-17-24 {
	width: 70.8333%;
	*width: 70.8023%;
}

.cs-u-19-24 {
	width: 79.1667%;
	*width: 79.1357%;
}

.cs-u-23-24 {
	width: 95.8333%;
	*width: 95.8023%;
}

.cs-g-r {
	letter-spacing: -.31em;
	*letter-spacing: normal;
	*word-spacing: -.43em;
	font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
}

.cs-g-r [class *="cs-u"] {
	font-family: sans-serif;
}

.cs-g-r img {
	max-width: 100%;
	height: auto;
}

@media (min-width:980px) {
	.cs-visible-phone {
		display: none;
	}

	.cs-visible-tablet {
		display: none;
	}

	.cs-hidden-desktop {
		display: none;
	}
}

@media (max-width:480px) {
	.cs-g-r>.cs-u,
	.cs-g-r>[class *="cs-u-"] {
		width: 100%;
	}
}

@media (max-width:767px) {
	.cs-g-r>.cs-u,
	.cs-g-r>[class *="cs-u-"] {
		width: 100%;
	}

	.cs-hidden-phone {
		display: none;
	}

	.cs-visible-desktop {
		display: none;
	}
}

@media (min-width:768px) and (max-width:979px) {
	.cs-hidden-tablet {
		display: none;
	}

	.cs-visible-desktop {
		display: none;
	}
}

.cs-menu ul {
	position: absolute;
	visibility: hidden;
}

.cs-menu.cs-menu-open {
	visibility: visible;
	z-index: 2;
	width: 100%;
}

.cs-menu ul {
	left: -10000px;
	list-style: none;
	margin: 0;
	padding: 0;
	top: -10000px;
	z-index: 1;
}

.cs-menu>ul {
	position: relative;
}

.cs-menu-open>ul {
	left: 0;
	top: 0;
	visibility: visible;
}

.cs-menu-open>ul:focus {
	outline: 0;
}

.cs-menu li {
	position: relative;
}

.cs-menu a,
.cs-menu .cs-menu-heading {
	display: block;
	color: inherit;
	line-height: 1.5em;
	padding: 5px 20px;
	text-decoration: none;
	white-space: nowrap;
}

.cs-menu.cs-menu-horizontal>.cs-menu-heading {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	vertical-align: middle;
}

.cs-menu.cs-menu-horizontal>ul {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	height: 2.4em;
}

.cs-menu li a {
	padding: 5px 20px;
}

.cs-menu-can-have-children>.cs-menu-label:after {
	content: '\25B8';
	float: right;
	font-family: 'Lucida Grande','Lucida Sans Unicode','DejaVu Sans',sans-serif;
	margin-right: -20px;
	margin-top: -1px;
}

.cs-menu-can-have-children>.cs-menu-label {
	padding-right: 30px;
}

.cs-menu-separator {
	background-color: #dfdfdf;
	display: block;
	height: 1px;
	font-size: 0;
	margin: 7px 2px;
	overflow: hidden;
}

.cs-menu-hidden {
	display: none;
}

.cs-menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.cs-menu-horizontal li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}

.cs-menu-horizontal li li {
	display: block;
}

.cs-menu-horizontal>.cs-menu-children>.cs-menu-can-have-children>.cs-menu-label:after {
	content: "\25BE";
}

.cs-menu-horizontal>.cs-menu-children>.cs-menu-can-have-children>.cs-menu-label {
	padding-right: 30px;
}

.cs-menu-horizontal li.cs-menu-separator {
	height: 50%;
	width: 1px;
	margin: 0 7px;
}

.cs-menu-horizontal li li.cs-menu-separator {
	height: 1px;
	width: auto;
	margin: 7px 2px;
}

.cs-menu.cs-menu-open,
.cs-menu.cs-menu-horizontal li .cs-menu-children {
	background: #fff;
	border: 1px solid #b7b7b7;
}

.cs-menu.cs-menu-horizontal,
.cs-menu.cs-menu-horizontal .cs-menu-heading {
	border: 0;
}

.cs-menu a {
	border: 1px solid transparent;
	border-left: 0;
	border-right: 0;
}

.cs-menu a,
.cs-menu .cs-menu-can-have-children>li:after {
	color: #777;
}

.cs-menu .cs-menu-can-have-children>li:hover:after {
	color: #fff;
}

.cs-menu .cs-menu-open {
	background: #dedede;
}

.cs-menu li a:hover,
.cs-menu li a:focus {
	background: #eee;
}

.cs-menu li.cs-menu-disabled a:hover,
.cs-menu li.cs-menu-disabled a:focus {
	background: #fff;
	color: #bfbfbf;
}

.cs-menu .cs-menu-disabled>a {
	background-image: none;
	border-color: transparent;
	cursor: default;
}

.cs-menu .cs-menu-disabled>a,
.cs-menu .cs-menu-can-have-children.cs-menu-disabled>a:after {
	color: #bfbfbf;
}

.cs-menu .cs-menu-heading {
	color: #565d64;
	text-transform: uppercase;
	font-size: 90%;
	margin-top: .5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}

.cs-menu .cs-menu-selected a {
	color: #000;
}

.cs-menu.cs-menu-open.cs-menu-fixed {
	border: 0;
	border-bottom: 1px solid #b7b7b7;
}

.cs-paginator {
	letter-spacing: -.31em;
	*letter-spacing: normal;
	*word-spacing: -.43em;
	text-rendering: optimizespeed;
	list-style: none;
	margin: 0;
	padding: 0;
}

.opera-only :-o-prefocus,
.cs-paginator {
	word-spacing: -.43em;
}

.cs-paginator li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

.cs-paginator .cs-button {
	border-radius: 0;
	padding: .8em 1.4em;
	vertical-align: top;
	height: 1.1em;
}

.cs-paginator .cs-button:focus,
.cs-paginator .cs-button:active {
	outline-style: none;
}

.cs-paginator .prev,
.cs-paginator .next {
	color: #C0C1C3;
	text-shadow: 0 -1px 0 rgba(0,0,0,.45);
}

.cs-paginator .prev {
	border-radius: 2px 0 0 2px;
}

.cs-paginator .next {
	border-radius: 0 2px 2px 0;
}

@media (max-width:480px) {
	.cs-menu-horizontal {
		width: 100%;
	}

	.cs-menu-children li {
		display: block;
		border-bottom: 1px solid #000;
	}
}

.cs-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
}

.cs-table caption {
	color: #000;
	font: italic 85%/1 arial,sans-serif;
	padding: 1em 0;
	text-align: center;
}

.cs-table td,
.cs-table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 6px 12px;
}

.cs-table td:first-child,
.cs-table th:first-child {
	border-left-width: 0;
}

.cs-table thead {
	background: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

.cs-table td {
	background-color: transparent;
}

.cs-table-odd td {
	background-color: #f2f2f2;
}

.cs-table-striped tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

.cs-table-bordered td {
	border-bottom: 1px solid #cbcbcb;
}

.cs-table-bordered tbody>tr:last-child td,
.cs-table-horizontal tbody>tr:last-child td {
	border-bottom-width: 0;
}

.cs-table-horizontal td,.cs-table-horizontal th {
	border-width: 0 0 1px;
	border-bottom: 1px solid #cbcbcb;
}

.cs-table-horizontal tbody>tr:last-child td {
	border-bottom-width: 0;
}